<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Dojos</title>
</head>
<body>
    <h1>new dojo</h1>
    <form action="/dojo/add" method="POST" class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <input type="submit" value="create" >
    </form> 
    <table >
        <h1>All Dojos</h1>
        {% for dojo in dojos %}
            <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a>
            <hr>
        {% endfor %}
    </table>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>